.container {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    margin: 24px;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    border: solid;
    border-width: 1px;
    background-color: red;
}

.options {
    margin: 16px;
}
