.container {
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    margin: 24px;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    width: 24px;
    height: 24px;
    border: solid;
    border-width: 1px;
    background-color: red;
}

.square:hover {
    background-color: white;
}
